:root{
    --main-font:"Roboto", sans-serif;
    --secondary-font:"Raleway", sans-serif;
    
    --text-color:#000;
    --main-color: #212121;
    --secondary-color: #ffffff;
    --accent-color: #2196f3;
    --p-text-color: #757575;
    --hero-footer-color: #2f303a;
    --our-team-color: #f5f4fa;
    --footer-link-color: rgba(255, 255, 255, 0.6);
}

.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
text{
    color: var(--main-color);
}
body {
    font-family:var(--main-font)
    
}

/* ===LOGOTYPE===*/
.logo{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color);
}


.logo-blue{
    color: var(--accent-color)
}
/* ===END LOGOTYPE===*/
/*===HEADER===*/
.menu-link{  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    color: var(--main-color);
}
.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color);
}
.menu-link.current{
    color: var(--accent-color);
}
.mail-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--p-text-color);
} 
.mail-link:hover,
.mail-link:focus{
    color: var(--accent-color);
}
.tel-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--p-text-color); 
}
    .tel-link:hover,
    .tel-link:focus{
    color: var(--accent-color);
}
/*===END HEADER===*/
/*===HERO===*/
.hero{
    background: var(--hero-footer-color);
    text-align: center;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform:uppercase;
    color: var(--secondary-color)

}
.modal-btn{
    font-weight: 700;;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    cursor: pointer;
    color: var(--secondary-color);
    background-color: var(--accent-color); 
}
.modal-btn{
    display: inline-block;
}

/*===AND HERO===*/
/*===ABOUT===*/
.about-main{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}
.about-main-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--p-text-color);
}
.working-moments{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
}
/*===AND ABOUT===*/
/*===TEAM===*/
.team-our{
    background-color: var(--our-team-color);
}

.team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
}
.team-hiro{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    
}
.time-proff{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--p-text-color);
}
/*===AND TEAM===*/
/*===FOOTTER===*/
.footer{
    background-color: var(--hero-footer-color);
}
.logo-foot{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.adresa{
    font-style: normal;
    font-weight: 400;       
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}
.adresa:hover,
.adresa:focus{
    color: var(--secondary-color);
}
.contacts{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-link-color);
}
.contacts:hover,
.contacts:focus{
    color: var(--secondary-color);
}
/*===AND FOOTTER===*/


/*=====PORTFOLIO=====*/
.menu-link.current {
    color: var(--accent-color);
}
.btn-list{
    font-family:var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--main-color);
}
.btn-list:hover,
.btn-list:focus{
    background-color:var(--accent-color);
    color:var(--secondary-color);
}
.btn-list.current{
    background: var(--accent-color);
    color: var(--secondary-color);
}
.production{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
}
.production-zone{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--p-text-color);
}
/*=====AND PORTFOLIO=====*/